<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form action="/users"  method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  email <input type="text" name="user[email]" value="">
  name <input type="text" name="user[name]" value="">
  password <input type="password" name="user[password]" value="">
  <!-- password confirmation <input type="password" name="user[password]" value=""> -->
  <input type="submit" value="submit">
</form>
