<h2> Register</h2>
<p>Please fill in the following information:</p>

<form action="/users"  method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  Email <input type="text" name="user[email]" value=""><br>
  Name <input type="text" name="user[name]" value=""><br>
  Password <input type="password" name="user[password]" value=""><br>
  <!-- password confirmation <input type="password" name="user[password]" value=""> -->
  <input type="submit" value="submit">
</form>
